<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SLAM RACING-productos</title>

    <link icon="icon" href="/imagenes/SlamRacingIcono.ico" rel="icon"/>

    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" th:href="@{/css/scrollbar.css}"/>
    <script src="https://sdk.mercadopago.com/js/v2"></script>
</head>
<body>

<main class="flex font-poppins font-normal">

    <div class="flex flex-col items-center  px-14 py-8 w-[50%] h-screen overflow-auto bg-black">
        <div class="text-white mb-3">
            <svg
                    class="h-12 w-11 mx-auto"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 298.000000 247.000000"
                    preserveAspectRatio="xMidYMid meet"
                    fill="currentColor"
                    stroke="currentColor"
                    stroke-width="10px"
            >
                <g
                        transform="translate(0.000000,247.000000) scale(0.100000,-0.100000)"
                >
                    <path
                            d="M849 2129 c-134 -161 -373 -446 -531 -635 -159 -189 -288 -348 -288
                                    -354 0 -6 108 -145 240 -310 l240 -300 393 0 393 0 348 411 c310 367 346 413
                                    333 427 -44 53 -369 412 -373 412 -6 0 -46 -44 -498 -560 -104 -118 -192 -219
                                    -196 -223 -4 -4 -37 26 -74 67 l-68 76 355 444 355 444 -185 196 c-102 108
                                    -189 196 -193 196 -4 0 -117 -131 -251 -291z m498 -107 c-1 -7 -143 -190 -316
                                    -407 l-315 -395 -254 0 c-242 0 -254 1 -240 18 15 18 256 306 653 781 l229
                                    275 123 -130 c67 -71 122 -135 120 -142z m392 -522 c72 -78 131 -144 130 -148
                                    0 -4 -141 -173 -312 -377 l-312 -370 -273 -3 c-149 -1 -272 0 -272 3 0 10 892
                                    1035 900 1035 4 0 67 -63 139 -140z"
                    />
                    <path
                            d="M1681 1863 c8 -10 127 -139 264 -286 138 -148 251 -272 253 -276 1
                                    -4 -111 -138 -249 -297 -139 -159 -304 -349 -367 -421 l-115 -133 -339 0 -338
                                    0 157 -210 158 -210 396 0 396 0 525 622 c288 343 528 629 532 636 10 17 -2
                                    31 -290 328 l-257 264 -369 0 c-351 0 -370 -1 -357 -17z m1088 -660 c-8 -10
                                    -140 -166 -294 -348 -154 -182 -361 -426 -460 -543 l-179 -212 -274 0 -273 0
                                    23 29 c13 16 230 268 483 560 l460 531 264 0 c248 0 263 -1 250 -17z"
                    />
                </g>
            </svg>
            <h1 class="text-2xl">Complete su compra</h1>
        </div>

        <div class="w-full flex flex-col justify-between overflow-auto h-[calc(100%-92px)]">
            <div class="w-full p-6 border border-solid border-white mb-8 rounded-2xl">
                <div class="flex flex-col gap-y-4 mb-5">

                    <div th:each="detalle : ${detalle}"
                         class="flex justify-between text-white w-full items-center px-2 py-1.5 border border-solid border-white rounded-2xl">
                        <div class="flex items-center gap-x-4">
                            <img class="object-contain w-[70px] bg-white rounded-lg"
                                 th:src="@{/images/{img} (img=${detalle.producto.imagenes.get(0).url})}" th:alt="${detalle.producto.slug}">
                            <div class="flex flex-col">
                                <h2 th:text="${detalle.producto.nombre} + ' ' + ${detalle.producto.color}" class="text-lg font-medium"></h2>
                                <h3 th:text="${detalle.producto.material} + ' ™' " class="text-sm"></h3>
                            </div>

                        </div>
                        <div class="inline-flex justify-between w-9">
                            <span th:text="${detalle.cantidad}"></span>
                        </div>
                        <p th:text="'S/. ' + (${detalle.producto.precio_unitario} - (${detalle.producto.precio_unitario} * (${detalle.producto.descuento} / 100)))" class="text-sm"></p>

                    </div>

                </div>

                <div class="border-b border-solid border-white mb-4"></div>

                <div class="flex justify-between w-full text-white font-medium mb-2">
                    <p>Subtotal</p>
                    <p th:text="'S/. ' + ${#numbers.formatDecimal(pedido.subTotal, 0, 1, 'POINT')}"></p>
                </div>

                <div class="flex justify-between w-full text-white font-medium mb-2">
                    <p>Envio</p>
                    <p th:text="'S/. ' + ${pedido.envio}"></p>
                </div>

                <div class="flex justify-between w-full text-white font-medium">
                    <p>Total</p>
                    <p> S.
                        <span id="total" th:text="${#numbers.formatDecimal(pedido.precioTotal, 0, 1, 'POINT')}"></span>
                    </p>
                </div>
            </div>

            <a th:href="@{/productos}"
               class="flex items-center w-fit gap-x-1.5 bg-background rounded-2xl p-2 pr-3.5 text-white text-sm
                            border border-solid border-white hover:bg-white hover:text-black">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.55806 11.5581C5.31398 11.8021 5.31398 12.1979 5.55806 12.4419L9.53554 16.4194C9.77961 16.6635 10.1753 16.6635 10.4194 16.4194C10.6635 16.1753 10.6635 15.7796 10.4194 15.5355L6.88389 12L10.4194 8.46447C10.6635 8.22039 10.6635 7.82466 10.4194 7.58058C10.1753 7.3365 9.77961 7.3365 9.53554 7.58058L5.55806 11.5581ZM17.69 11.375L6 11.375V12.625L17.69 12.625V11.375Z" fill="currentColor"/>
                </svg>
                Seguir comprando
            </a>
        </div>
    </div>

    <div class="w-[50%] flex justify-center items-center px-20 py-8 h-screen overflow-auto">

        <div class="w-full h-full overflow-auto">
            <div class="flex justify-between w-full px-2 py-1 mb-8 text-sm font-bold text-grey">
                <div class="gap-x-16 flex justify-between">
                    <div class="flex gap-x-1.5">
                        <div id="step-1" class="flex justify-center items-center rounded-[50%] text-xs w-5 bg-lightGray100">1</div>
                        <p id="step-1-text">Contacto</p>
                    </div>
                    <p>></p>
                </div>
                <div class="gap-x-16 flex justify-between">
                    <div class="flex gap-x-1.5">
                        <div id="step-2" class="flex justify-center items-center rounded-[50%] text-xs w-5 bg-lightGray100 mr-1">2</div>
                        <p id="step-2-text">Envío</p>
                    </div>
                    <p>></p>
                </div>
                <div class="flex justify-between">
                    <div class="flex gap-x-1.5">
                        <div id="step-3" class="flex justify-center items-center rounded-[50%] text-xs w-5 bg-lightGray100 mr-1">3</div>
                        <p id="step-3-text">Pago</p>
                    </div>
                </div>
            </div>

            <form id="form-multistep" class="w-full">
                <!-- Paso 1: Informacion para contactar al usuario reference a su pedido -->
                <div class="step" data-step="1">
                    <h2 class="text-2xl mb-6">Información de contacto</h2>
                    <div class="flex flex-col text-sm gap-x-2.5 w-full">
                        <label for="nombre" class="mb-1">Nombre</label>
                        <input type="text" id="nombre" class="border border-grey rounded-md text-base px-3 py-2 mb-5" placeholder="Carlos">

                        <label for="apellido" class="mb-1">Apellido</label>
                        <input type="text" id="apellido"  class="border border-grey rounded-md text-base px-3 p-2 mb-5" placeholder="Martinez">

                        <label for="email" class="mb-1">Email</label>
                        <input type="email" id="email"  class="border border-grey rounded-md text-base px-3 p-2 mb-5" placeholder="email@example.com">

                        <label for="telefono" class="mb-1">Teléfono</label>
                        <input type="text" id="telefono"  class="border border-grey rounded-md text-base px-3 p-2 mb-5" placeholder="999-999-999">
                    </div>
                </div>


                <!-- Paso 2: Informacion para el delivery (opcional)-->
                <div class="step hidden" data-step="2">
                    <h2 class="text-2xl mb-6">Información de envío</h2>
                    <div class="flex flex-col gap-x-2.5 w-full">
                        <label for="departamento">Departamento</label>
                        <input type="text" id="departamento" class="border border-grey rounded-md text-base px-3 py-2 mb-5" placeholder="Lima">

                        <label for="provincia">Provincia</label>
                        <input type="text" id="provincia" class="border border-grey rounded-md text-base px-3 py-2 mb-5" placeholder="Lima">

                        <label for="distrito">Distrito</label>
                        <input type="text" id="distrito" class="border border-grey rounded-md text-base px-3 py-2 mb-5" placeholder="Los Olivos">

                        <!-- Este input se activara si el departameto es Lima-->
                        <label for="direccion">Dirección</label>
                        <input type="text" id="direccion" class="border border-grey rounded-md text-base px-3 py-2 mb-5" placeholder="Numero de la casa y nombre de la calle">

                        <label for="referencia">Referencia</label>
                        <input type="text" id="referencia" class="border border-grey rounded-md text-base px-3 py-2 mb-5" placeholder="Lugar de referencia">
                    </div>
                </div>


                <!-- Botones de navegación -->
                <div class="flex justify-between mt-8">
                    <button class="py-2 px-4 border border-solid border-black rounded" id="prevBtn" type="button" disabled>Anterior</button>
                    <button class="py-2 px-4 bg-black text-white rounded" id="nextBtn" type="button">Siguiente</button>
                </div>
            </form>
            <!-- Con toda la informacion recibida del formulario se creara la orden de pago -->
            <div class="step" data-step="3">
                <div id="walletBrick_container"></div>
                <p class="text-center text-grey relative">
                    <span class="absolute top-1/2 left-0 before:block content border-t border-grey w-2/5"></span>
                    O
                    <span class="absolute top-1/2 right-0 after:block content border-t border-grey w-2/5"></span>
                </p>
                <div id="cardPaymentBrick_container"></div>
            </div>
        </div>


    </div>

    <div class="hidden absolute overflow-auto z-10 flex justify-center items-center w-screen h-screen bg-black bg-opacity-50 backdrop-blur-sm" id="resultado-pago">
        <div class="w-1/2 h-full flex justify-center items-center">
            <div id="statusScreenBrick_container"></div>
        </div>
    </div>
</main>

<script th:inline="javascript">
    /*<![CDATA[*/
    const pedido = /*[[${pedido}]]*/ null;
    const detalle = /*[[${detalle}]]*/ null;
    let requestBody = [];
    let detalleParams = {};

    detalle.forEach(detalle => {
        detalleParams = {
            id: detalle.producto.id,
            title: detalle.producto.nombre + ' ' + detalle.producto.color,
            description: detalle.producto.descripcion,
            picture_url: "https://9195-181-233-24-149.ngrok-free.app/images/"+detalle.producto.imagenes[0].url,
            category_id: 'home',
            quantity: detalle.cantidad,
            currency_id: 'PEN',
            unit_price: detalle.total,
        };
        requestBody.push(detalleParams);
    });

    const publicKey = /*[[${publicKey}]]*/ null;
    /*]]>*/

</script>

<script>

   function procesarPago(){
       const total = document.getElementById('total').textContent;
       console.log(total);

       // Aquí puedes hacer algo con la respuesta del servidor, como mostrar un mensaje al usuario
       const mp = new MercadoPago(publicKey, {
           locale: 'es-PE'
       });

       const bricksBuilder = mp.bricks();
       const renderWalletBrick = async (bricksBuilder) => {
           const settings = {
               initialization: {
                   redirectMode: 'modal',
               },
               customization: {
                   texts: {
                       action: 'pay',
                       valueProp: 'security_safety',
                   },
                   visual: {
                       hideValueProp: true,
                       buttonBackground: 'default', // default, black, blue, white
                       valuePropColor: 'grey', // grey, white
                       buttonHeight: '48px', // min 48px - max free
                       borderRadius: '6px',
                       verticalPadding: '16px', // min 16px - max free
                       horizontalPadding: '0px', // min 0px - max free
                   },
                   checkout: {
                       theme: {
                           elementsColor: '#4287F5', // color hex code
                           headerColor: '#4287F5', // color hex code
                       },
                   },
               },
               callbacks: {
                   onReady: () => {
                       /*
                       Callback called when Brick is ready.
                       Here you can hide loadings from your site, for example.
                       */
                   },
                   onSubmit: async (request) => {

                       /*
                       Callback called when clicking Wallet Brick
                       this is possible because the brick is a button
                       at this time of submit, you must create the preference
                       */
                       request = preferenciaRequest;
                       request.items = requestBody;
                       console.log('Dentro del evento OnSubmit', request);

                       try {
                           // Primera solicitud: Generar el pedido y obtener el external_reference
                           const pedidoSolicitud = await fetch('/v1/mercadoPago/generarPedido', {
                               method: 'POST',
                               headers: {
                                   'Content-Type': 'application/json',
                               },
                               body: JSON.stringify(pedido),
                           });

                           if (!pedidoSolicitud.ok) {
                               throw new Error('Error al generar el pedido');
                           }

                           const pedidoResponse = await pedidoSolicitud.text();
                           console.log('Pedido generado:', pedidoResponse);
                           request.external_reference = pedidoResponse;
                           console.log('detalle', detalleParams);
                           console.log('formData', request);

                           // Segunda solicitud: Crear la preferencia utilizando el formData actualizado
                           const preferenceResponse = await fetch('/v1/mercadoPago/preferencias/crear', {
                               method: 'POST',
                               headers: {
                                   'Content-Type': 'application/json',
                               },
                               body: JSON.stringify(request),
                           });

                           if (!preferenceResponse.ok) {
                               throw new Error('Error al crear la preferencia');
                           }

                           const preferenceId = await preferenceResponse.text();
                           console.log('Preferencia creada:', preferenceId);

                           // Resuelve la promesa con el ID de la preferencia
                           return preferenceId;
                       } catch (error) {
                           // Manejar el error cuando ocurre un problema durante las solicitudes
                           console.error('Error:', error);
                           throw error;
                       }
                   },
               },
           };
           window.walletBrickController = await bricksBuilder.create(
               'wallet',
               'walletBrick_container',
               settings,
           );
       };
       renderWalletBrick(bricksBuilder);

       let paymentId;

       const renderCardPaymentBrick = async (bricksBuilder) => {
           const settings = {
               initialization: {
                   amount: total,
               },
               customization: {
                   visual: {
                       hideFormTitle: true,
                       style: {
                           theme: 'default', // | 'dark' | 'bootstrap' | 'flat'
                           customVariables: {
                               formPadding: '0px',
                           },
                       },
                       texts: {
                           emailSectionTitle: 'Contacto',
                           formSubmit: 'Pagar S/. ' + total,
                       },
                   },
                   paymentMethods: {
                       maxInstallments: 12,
                   }
               },
               callbacks: {
                   onReady: () => {
                       // Callback llamado cuando Brick esté listo
                   },
                   onSubmit: async (cardFormData) => {
                       try {
                           // Generar el pedido
                           const response = await fetch('/v1/mercadoPago/generarPedido', {
                               method: 'POST',
                               headers: {
                                   'Content-Type': 'application/json',
                               },
                               body: JSON.stringify(pedido),
                           });
                           const pedidoResponse = await response.text();
                           console.log('Pedido generado:', pedidoResponse);
                           cardFormData.external_reference = pedidoResponse.toString();
                           cardFormData.statement_descriptor = "Compra de productos en Slam Racing";
                           cardFormData.description = "Slam Racing Payment";
                           cardFormData.aditional_info = {
                               items: requestBody,
                           };

                           console.log("Formulario:", cardFormData);


                           // Procesar el pago
                           const paymentResponse = await fetch("/v1/mercadoPago/procesar_pago", {
                               method: "POST",
                               headers: {
                                   "Content-Type": "application/json",
                               },
                               body: JSON.stringify(cardFormData),
                           });
                           if (!paymentResponse.ok) {
                               throw new Error("Error al procesar el pago. Estado HTTP: " + paymentResponse.status);
                           }
                           const paymentResult = await paymentResponse.text();
                           console.log("Formulario:", cardFormData);
                           console.log("Respuesta del servidor:", paymentResult);
                           paymentId = paymentResult;
                           const ModalResultadoPago = document.getElementById("resultado-pago");
                           ModalResultadoPago.classList.remove("hidden");
                           await initializeStatusScreenBrick();
                       } catch (error) {
                           console.error("Error al procesar el pago:", error);
                       }
                   },
                   onError: (error) => {
                       // Callback llamado para todos los casos de error de Brick
                       console.log("Error en el Brick:", error);
                   },
               },
           };

           try {
               window.paymentBrickController = await bricksBuilder.create(
                   "cardPayment",
                   "cardPaymentBrick_container",
                   settings
               );
           } catch (error) {
               console.error("Error al crear el controlador del Brick:", error);
           }
       };

       renderCardPaymentBrick(bricksBuilder);




       const initializeStatusScreenBrick = async () => {

           try{
               // Aquí puedes hacer algo con la respuesta del servidor, como mostrar un mensaje al usuario
               const mp = new MercadoPago(publicKey, {
                   locale: 'es-PE'
               });

               const bricksBuilder = mp.bricks();
               const renderStatusScreenBrick  = async (bricksBuilder) => {
                   const settings = {
                       initialization: {
                           paymentId: paymentId,
                       },
                       customization: {
                           visual: {
                               showExternalReference: true,
                               hideStatusDetails: false,
                               hideTransactionDate: false,
                               style: {
                                   theme: 'default', // 'default' | 'dark' | 'bootstrap' | 'flat'
                               }
                           },
                           backUrls: {
                               'error': 'https://9195-181-233-24-149.ngrok-free.app/procesoPago',
                               'return': 'https://9195-181-233-24-149.ngrok-free.app/productos'
                           }
                       },
                       callbacks: {
                           onReady: () => {
                               // Callback called when Brick is ready
                           },
                           onError: (error) => {
                               // Callback called for all Brick error cases
                           },
                       },
                   };
                   window.statusScreenBrickController  = await bricksBuilder.create(
                       "statusScreen",
                       "statusScreenBrick_container",
                       settings
                   );
               };
               await renderStatusScreenBrick(bricksBuilder);
           } catch (error) {
               console.error("Error al inicializar el formulario de pago", error);
           }
       };
   }


</script>

<script>
    const prevBtn = document.getElementById('prevBtn');
    const nextBtn = document.getElementById('nextBtn');
    const steps = Array.from(document.querySelectorAll('.step'));



    // Obtener los elementos de los indicadores de paso
    const step1Indicator = document.getElementById('step-1');
    const step1IndicatorText = document.getElementById('step-1-text');

    const step2Indicator = document.getElementById('step-2');
    const step2IndicatorText = document.getElementById('step-2-text');

    const step3Indicator = document.getElementById('step-3');
    const step3IndicatorText = document.getElementById('step-3-text');


    let currentStep = 0;

    // Crear un objeto para almacenar los datos del formulario
    const preferenciaRequest = {};

    function showStep(stepIndex) {
        steps.forEach((step, index) => {
            if (index === stepIndex) {
                step.classList.remove('hidden');
            } else {
                step.classList.add('hidden');
            }
        });

        prevBtn.disabled = stepIndex === 0;

        if (stepIndex === steps.length - 1) {
            nextBtn.style.display = 'none';
            prevBtn.style.display = 'none';
        } else {
            nextBtn.textContent = 'Siguiente';
        }

        console.log("paso actual", currentStep);

        updateStepIndicator(currentStep);
    }

    function validateStep(stepIndex) {
        // Aquí puedes agregar lógica de validación de campos si es necesario
        return true;
    }

    prevBtn.addEventListener('click', () => {
        if (currentStep > 0) {
            currentStep--;
            showStep(currentStep);
            console.log(currentStep);
        }
    });

    nextBtn.addEventListener('click', () => {
        if (validateStep(currentStep)) {
            currentStep++;
            if (currentStep < steps.length - 1) {
                showStep(currentStep);
                console.log(currentStep);
            } else if (currentStep === steps.length - 1) {
                showStep(currentStep);
                console.log(currentStep)
                console.log('Formulario enviado');
                saveFormData();
                procesarPago();
                console.log(preferenciaRequest);
            }
        }
    });

    showStep(currentStep);





    function updateStepIndicator(currentStep) {
        // Resetear los estilos de fondo de todos los pasos
        step1Indicator.classList.remove('bg-lightGray100');
        step2Indicator.classList.remove('bg-lightGray100');
        step3Indicator.classList.remove('bg-lightGray100');

        // Establecer el estilo de fondo del paso actual
        if (currentStep === 0) {
            step1Indicator.classList.add('bg-black', 'text-white');
            step1IndicatorText.classList.add('text-black');
            step2Indicator.classList.add('bg-lightGray100', 'text-grey');
            step2IndicatorText.classList.add('text-grey');
            step3Indicator.classList.add('bg-lightGray100', 'text-grey');
            step3IndicatorText.classList.add('text-grey');
        } else if (currentStep === 1) {
            step1Indicator.classList.add('bg-lightGray100', 'text-grey');
            step1IndicatorText.classList.add('text-grey');
            step2Indicator.classList.add('bg-black', 'text-white');
            step2IndicatorText.classList.add('text-black');
            step3Indicator.classList.add('bg-lightGray100', 'text-grey');
            step3IndicatorText.classList.add('text-grey');
        } else if (currentStep === 2) {
            step1Indicator.classList.add('bg-lightGray100', 'text-grey');
            step1IndicatorText.classList.add('text-grey');
            step2Indicator.classList.add('bg-lightGray100', 'text-grey');
            step2IndicatorText.classList.add('text-grey');
            step3Indicator.classList.add('bg-black', 'text-white');
            step3IndicatorText.classList.add('text-black');
        }
    }



    function saveFormData() {
        // Guardar los datos del paso 1
        preferenciaRequest.nombre = document.getElementById('nombre').value;
        preferenciaRequest.apellido = document.getElementById('apellido').value;
        preferenciaRequest.email = document.getElementById('email').value;
        preferenciaRequest.telefono = document.getElementById('telefono').value;

        // Guardar los datos del paso 2
        preferenciaRequest.departamento = document.getElementById('departamento').value;
        preferenciaRequest.provincia = document.getElementById('provincia').value;
        preferenciaRequest.distrito = document.getElementById('distrito').value;
        preferenciaRequest.direccion = document.getElementById('direccion').value;
        preferenciaRequest.referencia = document.getElementById('referencia').value;
    }

</script>

</body>


</html>